**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
logs/
/.mixin.out
/saves
/downloads
/resourcepacks
/local
.curseclient
journeymap/
usercache.json
usernamecache.json
options.txt
config/*
optionsof.txt
imgui.ini
/crash-reports
patchouli_data.json
woot/
screenshots/
optionsshaders.txt
shaderpacks/
servers.dat*
.replay*
replay*
!config/twilightforest-common.toml
!config/simple-rpc.toml
!config/biomesoplenty
!config/ftbquests
reauth.toml
simple-rpc/server-entries.toml
logo.png
!config/better_loading_screen
!mods/luminous.jar