**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
logs/
/.mixin.out
/saves
/downloads
/resourcepacks
/local
.curseclient
journeymap/
usercache.json
usernamecache.json
options.txt
config/*
optionsof.txt
imgui.ini
/crash-reports
patchouli_data.json
woot/
screenshots/
optionsshaders.txt
shaderpacks/
servers.dat*
.replay*
replay*
reauth.toml

# ALLOWED MODPACK CONTENTS

!config/better_loading_screen
!mods/luminous.jar
!config/simple-rpc
!config/akashictome-common.toml
!config/twilightforest-common.toml
!config/simple-rpc.toml
!config/biomesoplenty
!config/ftbquests
!logo.png
!config/bettercaves-1_16.toml